
re
nltk
nltk.corpus.stopwords
nltk.tokenize.word_tokenize
sklearn.feature_extraction.text.TfidfVectorizer
sklearn.metrics.pairwise.cosine_similarity
pandas
IPython.display.Image
IPython.display.display
IPython.display.HTML
nltk.download('punkt')
pandas
requests
sentence_transformers.SentenceTransformer
sklearn.feature_extraction.text.CountVectorizer
sklearn.metrics.pairwise.cosine_similarity
streamlit
streamlit.components
PIL.Image
io.BytesIO
pickle
PIL.Image
imghdr
os
